/* /src/pages/HomePage.css */

.hero-section {
    background: linear-gradient(rgba(40, 44, 52, 0.8), rgba(40, 44, 52, 0.8)), url('../backgrounds/background.jpg') no-repeat center center;
    background-size: cover;
    height: 80vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.feature-box {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.feature-box:hover {
    transform: translateY(-10px);
}

.call-to-action {
    background-color: #f8f9fa;
}

.homepage .App-logo {
    width: 150px;
    height: auto;
    filter: invert(1);
}


/* Нови стилове за бутоните */

.hero-section .btn-lg,
.call-to-action .btn-lg {
    min-width: 200px;
}

.hero-section .btn-lg+.btn-lg {
    margin-left: 15px;
    /* Разстояние между бутоните */
}

@media screen and (max-width: 576px) {
    .hero-section .d-flex {
        flex-direction: column;
    }
    .hero-section .btn-lg+.btn-lg {
        margin-left: 0;
        margin-top: 10px;
    }
}

.call-to-action .btn-lg+.btn-lg {
    margin-left: 15px;
}

@media screen and (max-width: 576px) {
    .call-to-action .d-flex {
        flex-direction: column;
    }
    .call-to-action .btn-lg+.btn-lg {
        margin-left: 0;
        margin-top: 10px;
    }
}

.map-section {
    background-color: #fff;
}

.map-section .initiatives-map {
    width: 70%;
    height: 600px;
    margin-top: 20px;
    margin: 20px auto; 
    display: block; 
}

@media (max-width: 1400px) and (min-width: 1200px) {
    .feature-box{
        height: 200px;
    }
}

@media (max-width: 1200px) {
    .feature-box{
        height: 280px;
    }
}